@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap");

/**** VARIABLES ****/
:root {
  --dark-text-color: #131516;
  --regular-text-color: #373d3f;
  --light-text-color: #707c80;
  --accent-color: #a146e8;
  --light-accent-color: #eeddfa;
  --light-background-color: #efefef;
}

/**** RESETS ****/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
}

a {
  font-family: inherit;
  text-decoration: none;
  color: inherit;
}

/**** TYPOGRAPHY ****/
h1 {
  font-family: "Fugaz One", cursive;
  font-size: 1.4rem;
  color: var(--dark-text-color);
  text-transform: uppercase;
}

li {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: var(--regular-text-color);
  text-transform: uppercase;
}

h2,
h3 {
  font-family: "Inter", sans-serif;
  font-size: 0.95rem;
  font-weight: 500;
  color: var(--regular-text-color);
  text-transform: uppercase;
}

p {
  font-family: "Inter", sans-serif;
  color: var(--regular-text-color);
  font-size: 0.85rem;
  font-weight: 300;
}

/**** ELEMENTS ****/
button {
  padding: 0.5rem 0.75rem;
  color: var(--accent-color);
  background-color: transparent;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
}

button:hover {
  background-color: var(--light-accent-color);
}

li {
  padding-bottom: 1.3rem;
  border-bottom: 4px solid transparent;
  text-transform: uppercase;
}

/**** UTILITIES ****/
.component-spacer {
  margin-top: 2rem;
}

.bold-text {
  font-family: "Inter", sans-serif;
  font-size: 0.85rem;
  font-weight: 700;
  text-transform: uppercase;
}
